* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 

}

/*Navigation Bar*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 7px
}

nav.sticky {
    background-color: #faf5ce;
}

nav .nav_content {
    height: 100%;
    max-width: 1220px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav .nav_content .logo a {
    font-size: 45px;
    color: white;
}

.nav_content .nav_links {
    display: flex;
    align-items: center;
}

nav .nav_links li {
    list-style: none;
    margin: 0 8px;
    padding: 0 6px;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
}

nav .nav_links a {
    font-size: 18px;
    color:  #ff8d4d;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav .nav_links a:hover {
    background-color: #ff8d4d;
    color: #faf5ce;
    border-radius: 30px;
}

.drop_links {
    display: none;
    position: absolute;
    margin-top: 10px;
    list-style: none;
    background-color: #faf5ce;
    align-items: left;

}

.drop_links li a {
    display: block;
    margin: 3px 0 3px 0;
    text-align: left;
    padding: 12px 12px;
    
}

.drop_down:hover .drop_links {
    display: block;
}

/*End of Navigation Bar*/

/*Home only content*/

.home_open {
    height: 100vh;
    background-color: #fff3b4;
    width: auto;
}

.open_img {
   display: flex;
   justify-content: center;
   align-items: center;
    
}

.open_img1 {
    width: 75%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    position: absolute;
    bottom: 0;
       

}

.open_heading {
    width: 42%;
    border-radius: 50px;
    position: absolute;
    bottom: 68%;
    margin-right: 36%;       
}

.scroll_reveal {
    padding-top: 140px;
    
}

.linkabc {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.hide_text {
    display: none;
}

.box_group:nth-child(2) {
    size: 8px;
    text-decoration-line: none;
    color: black;
    margin: auto;
    

}

.scroll_reveal h1 {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.box_img {
    width: 200px;
    margin: 0 120px 50px 120px;
    border-radius: 50%;
}

.blurb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 160px auto 170px auto;
    max-width: 1000px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: stretch;
    
}

.blurb_img {
    flex: 1 1 300px;
    max-width: 400px;
    display: flex;
    align-items: stretch;
    
}

.b_img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
  
}

.blurb_text {
   flex: 1 1 300px;
   
   text-align: center;
   justify-content: center;
   font-family: 'Marcellus', serif;
   font-weight: 500;
   padding: 30px 40px;
   
   background-color: aliceblue;
   box-sizing: border-box;
}
.blurb h3 {
    padding-bottom: 10px;
    font-size: 22px;
    letter-spacing: 2px;
}

.video_play {
    position: relative;
    width: 100%;
    margin: 100px auto;
    overflow: hidden;

}

.video_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Petit Formal Script", cursive;
    font-weight: bolder;
    color: rgb(88, 71, 48);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.video_play video {
    width: 100%;
    object-fit: cover;
    display: block;
    
}
/*End of Home Page*/

/*Footer*/
.ft_img {
    width: 150px;
    margin-bottom: 7px;
}

.ft_image{
    margin: 0 0 0 35px;
}

.ft_images_all {
    display: flex;
    align-items: center;
    font-family: "DM Serif Text", serif;
    font-size: 15px;

}

.ft_links {
    margin-left: 60px;
    line-height: 30px;
    color: black;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.footer p {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
}

.footer {
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 80px auto 0 auto;


}

.footer_sub1 {
    background-color: aliceblue;
}

.vid_credit {
    font-size: 9px;
}

/*End of Footer*/

/*In progress filler page*/
.in_progress {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 20%;
    justify-content: center;
    align-items: center;
}

.in_progress p {
    font-size: 20px;
    padding-left: 20px;
    line-height: 30px;
}

.in_progress a {
    text-decoration: underline;
}



/*Test Page*/

.heading1 {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #fff3b4;
    font-family: "Marcellus", serif;

}

.head1_img {
    margin-top: 50px;
    margin-right: 60px;
    width: 320px;
    border-radius: 20px;


}


.heading1_text {
    margin-top: 100px;
    margin-left: 60px;
    width: 300px;
    height: 200px;
    font-family: 'Marcellus', serif;
    font-size: 15px;
}

.heading1_text h3 {
    font-size: 30px;
    font-family: "Amarante", serif;
    color: #000000;
    letter-spacing: 3px;
    padding-bottom: 15px;
    border-bottom: 3px solid #000000;
    
    
    
}

.head1_p {
    
    font-family: 'Marcellus', serif;
    font-size: 16px;
    padding-top: 15px;

}


.quiz_container {
    
    width: 700px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 100px auto 100px auto;
    
    background-color: #f4e2c9;

}


.quiz_container h2 {
    margin: 20px;
    font-family: "Amarante", serif;
    letter-spacing: 3px;
    font-weight: 600;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    text-align: center;
    font-size: 32px;
}

#question_box {
    margin: 30px auto 30px auto;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Marcellus", serif;
}

label {
    display: block;
    background-color: #e6fafc;
    padding: 10px;
    margin: 12px auto;
    border-radius: 10px;
    max-width: 400px;
    font-size: 19px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    

}

label:hover {
    background-color: #d0edef;
}

.question p {
    font-size: 22px;
    margin: 25px auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    

}


button {
    margin: auto 36px;
    padding: 10px 15px;
    background-color: #e6fafc;
    color: black;
    box-shadow: 2px 2px grey;

}

button:hover {
    background-color: #d0edef;
    box-shadow: none;

}

button:disabled {
    background-color: lightgrey;
    cursor: default;
    box-shadow: none;
}

.progress_bar {
    background-color: white;
    width: 75%;
    height: 6px;
    border-radius: 5px;
    align-items: center;
    margin: auto;
}

#progress_fill {
    background-color: #d0edef;
    height: 100%;
}

#result {
    text-align: center;
    font-size: 22px;
    padding: 15px 15px 25px 15px;
}

#result a {
    margin-top: 15px;
    margin-bottom: 10px;

}

#result h3 {
    margin-bottom: 30px;
}

#result a:hover {
    text-decoration: underline;
}

#restartBtn {
    display: block;
    margin: auto;
}

/*End of test Page*/

/*Skin type pages inclusive*/
/**/


.info_top {
    height: 75vh;
    justify-content: space-between;
    border-radius: 60px;
    margin: 10vh 75px 0;
    align-items: center;
    
    font-family: "Marcellus", serif;

}

.info_main {
    display: flex;
    width: 70vw;
    justify-content: space-between;
    
    align-items: center;
    margin: 7vh auto 0;
}

.info_top h2 {
    text-align: center;
    padding-top: 30px;
    font-family: "Amarante", serif;
    letter-spacing: 2px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    font-size: 32px;
}

.top_img {
    margin-left: 3vw;
    margin-top: 30px;
    
}

.extra_resource {
    margin-left: 3vw;
}

.extra_resource h4 {
    padding: 15px 0 10px 0;
    font-size: 21px;
    font-family: "Josefin Sans", sans-serif;
}

.extra_resource p {
    width: 400px;
    padding-bottom: 10px;
    font-size: 15px;
}

.top_text {
    margin-top: 10px;
    margin-left: 10vw;
    min-width: 35vw;
    
}

.top_text h3 {
    font-size: 23px;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    
    
     
}

.top_text h4 {
    padding-top: 22px;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    

}

.top_text p {
    font-size: 15px;
    padding-top: 10px;

}

.top_text li {
    margin-left: 30px;
    list-style: square;
    font-size: 15px;


}

span {
    color: red;
}

.info_top strong {
    color: green;
}

/*End of main information on each page*/

.routine {
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10%;
}

.icon_span {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.each {
    margin: 50px 60px 80px 60px;
    position: relative;
    width: 200px;
    height: 200px;
}


.each img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;

}


.routine h2 {
    text-align: center;
    border-bottom: none;
    padding-top: 15px;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
    margin: 20px;
    
}

.routine h6 {
    text-align: center;
    font-size: 10px;
}

.overlay {
    
    border-radius: 50%;
    background-color: #c3a77283;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.overlay p {
    
    font-size: 14px;
    padding: 10px;
    font-family: 'Marcellus', serif;
}


.each:hover img {
    opacity: 0;
}

.each:hover .overlay {
    opacity: 1;
}


/*End of all skin type pages*/


/*General advice pages*/

.advice_head h1 {
    text-align: center;
    margin: 120px 0 60px 0;
    font-size: 100px;
    font-family: "Amarante", serif;
    letter-spacing: 4px;
    color: #493e2d;
}

.advice_background {
    background-color: #edc895;
    margin: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}


.pagelinks {
    justify-content: space-between;
    display: flex;
    margin-top: 0;

}

.onpage {
    
    background-color: white;
    width: 23%;
    padding: 50px 40px 0 30px;
    text-align: right;
    max-height: 483px;
}

.onpage h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.onpage li {
    
    font-size: 23px;
    padding-top: 25px;
    margin-right: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;

}

.onpage li:hover {
    font-weight: bold;
}

.onpage ul{
    list-style: none;
}

.outlinks {
    width: 77%;
}

.outlinks img {
    
    height: 250px;
    border-radius: 20px;
    margin: 20px auto 15px auto;
    
   
   

}

.imglinks {
    margin: 40px auto 30px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.outlinks h2 {
    max-width: 900px;
    text-align: left;
    margin: 80px 0 10px 120px;
    font-size: 35px;
    font-family:"Josefin Sans", sans-serif ;
    border-bottom: 2px solid black;
    padding-bottom: 20px;


}

.together p {
    text-align: center;
    font-size: 22px;
    font-family:"Josefin Sans", sans-serif ;
    font-weight: bolder;
}


html {
    scroll-padding-top: 80px;
}

.advice_middle {
    width: 80%;
    align-items: center;
    margin-left: 120px;
    font-family: "Josefin Sans", sans-serif;
}

.importance {
    margin-top: 40px;
    font-family: "Josefin Sans", sans-serif;
}

.advice_middle h2 {
    text-align: left;
    margin: 60px 0 20px 0;
    font-size: 35px;
    font-family:"Josefin Sans", sans-serif ;
    border-bottom: 2px solid black;
}

.advice_middle p {
    font-size: 20px;
    font-family: 'Marcellus', serif;
    
}

.para {
    margin-bottom: 150px;
}

h5 {
    font-size: 22px;
    margin: 25px 0 10px;
    font-weight: 700;
    
}

.indent {
    margin-left: 10px;
}

.advice_middle a {
    text-decoration: underline;
    color: rgb(67, 132, 229);
}

.advice_background strong {
    font-weight: 500;
    background-color: #faf5ce9f;

}

.advice_background mark {
    font-weight: 600;
    background-color: #edc895;


}

.holistic {
    padding-bottom: 80px;
}

/*Credit Page*/

.credit_head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto ;
    text-align: center;
    padding: 120px 0 70px;

    background-color: #faf5ce;
}

.cleft {
    width: 60%;
}

.cleft h1 {
    font-size: 75px;
    font-family: "Amarante", serif;
    font-weight: 500;
    letter-spacing: 5px;
}

.cright{
    width: 40%;
} 

.cright p {
    padding-right: 250px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Marcellus', serif;
}

.icons{
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    column-gap: 80px;
    row-gap: 60px;
    

}

.icons img {
    width: 200px;
    display: block;
    border-radius: 40px;
}

figcaption {
    padding-top: 10px;
    font-size: 17px;
    text-align: center;
}